@using Microsoft.CodeAnalysis.CSharp
@model domain.dto.OrderResponseDTO

<h4>OrderID: @Model.Id</h4>
@foreach(domain.dto.OrderItemDishResponseDTO oi in Model.OrderItems)
{   
    <p>@oi.RestaurantName</p>
    <p>Maträtt: @(oi.Quantity)st @oi.DishName x @oi.DishPrice kr</p>
    <p>Namn: @Model.Customer.FName @Model.Customer.LName</p>
    <p>Tel: @Model.Customer.PhoneNum</p>
    <p>Leverans-avgift: @Model.DeliveryFee kr</p>
    <p>Service-avgift: @(Model.ServiceFee * 100)%</p>
    <p>Totalpris: @Model.TotalPrice</p>
    
    <p style="color: green; font-size: 30px">OrderStatus: @Model.OrderStatus</p>
    <p style="color: crimson; font-size: 30px">Beräknad leveranstid: @Model.EstimatedTime</p>
}

    