@using Microsoft.CodeAnalysis.CSharp
@model domain.dto.OrderResponseDTO

<h4>OrderID: @Model.Id</h4>
@foreach(domain.dto.OrderItemDishResponseDTO oi in Model.OrderItems)
{  // TODO fixa så att det blir snyggare och fortsätt utveckla detta efter att ha byggt hela flödet för Customer. Detta ska vara bland det sista som faktiskt blir färdigt
    <p>@oi.Quantity</p>
    <p>@oi.DishName</p>
    <p>@Model.Customer.Name</p>
    <p>@Model.Customer.PhoneNum</p>
    <p>@Model.TotalPrice</p>
}

    