@page "/newRestaurant"
@* @rendermode InteractiveServer *@
@using System.Runtime.CompilerServices
@inject HttpClient http
<PageTitle>Samarbeta med oss</PageTitle>

<h2 class="mb-3">Öka försäljningen genom hemleverans</h2>

<EditForm Model="model" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />
   
<div class="form-floating mb-2">
    <InputText class="form-control" id="name" placeholder=""@bind-Value="model.Name" />
    <label for="name">Företagets namn*</label>
    <ValidationMessage For="@(() => model.Name)" />
</div>

<div class="form-floating mb-2">
    <InputText class="form-control" id="address" placeholder="" @bind-Value="model.Address"/>
    <label for="address">Adress*</label>
    <ValidationMessage For="@(() => model.Address)" />
</div>

<div class="form-floating mb-2">
    <InputText class="form-control" id="phoneNum" placeholder="" @bind-Value="model.PhoneNum"/>
    <label for="phoneNum">Telefonnummer*</label>
    <ValidationMessage For="@(() => model.PhoneNum)" />
</div>
  
<div class="form-floating mb-4">
    <InputText class="form-control" id="description" placeholder="" @bind-Value="model.Description"/>
    <label for="description">Kort beskrivning om ert utbud</label>
    <ValidationMessage For="@(() => model.Description)" />
</div>
   
<div>
    <h2 class="mb-3">Öppettider</h2>
    
    <div class="form-floating mb-2">
        <InputText class="form-control" id="openTime" @bind-Value="openTimeString"/>
        <label for="openTime">Från</label>
        <ValidationMessage For="@(() => model.Open)" />
    </div>
    
    <div class="form-floating mb-2">
        <InputText class="form-control" id="closedTime" @bind-Value="closedTimeString"/>
        <label for="closedTime">Till</label>
        <ValidationMessage For="@(() => model.Closed)" />
    </div>
</div>

    <button type="submit">Skicka in</button>

</EditForm>

@code
{
    private AddRestaurantDTO model = new();
    
    private string openTimeString
    {
        get => GetTimeString(model.Open);
        set => TrySetTime(value, t => model.Open = t);
    }
    private string closedTimeString
    {
        get => GetTimeString(model.Closed);
        set => TrySetTime(value, t => model.Closed = t);
    }
    private string GetTimeString(TimeSpan time) => time.ToString(@"hh\:mm");
    private bool TrySetTime(string value, Action<TimeSpan> setter)
    {
        if(TimeSpan.TryParse(value, out var result))
        {
            setter(result);
            return true;
        }
        return false;
    }
    private async Task HandleSubmit()
    {
        var response = await http.PostAsJsonAsync("api/restaurant/AddRestaurant", model);
        @* await restaurantService.AddRestaurantAsync(model);     *@
    }
}