@using Microsoft.AspNetCore.Http.HttpResults
@{
    ViewData["Title"] = "Restaurant Page";
}
    @model RestaurantDishModel
    @if(Model.Restaurant != null)
    {
        <div class="text-center">
        <h1 class="display-4">@Model.Restaurant.Name</h1>
        
        <p>
            <strong>Öppettider: @Model.Restaurant.Open - @Model.Restaurant.Closed</strong><br />
            @Model.Restaurant.Description
        </p>
        
        </div>

        <div>
            <h2>Maträtter</h2>
            <br />
            @if(Model.Dishes != null && Model.Dishes.Any())
            {
                @foreach(var d in Model.Dishes)
                {
                    <a
                        asp-controller="Dish" asp-action="Details" asp-route-id="@d.Id" class="card d-block text-decoration-none text-">
                        <strong><h3>@d.Name</h3></strong>
                        <h5 class="text-muted fs-6">@d.Description</h5>
                        <h3>@d.Price kr</h3>
                    </a>
                }
            }
            else
            {
                <h2>Kunde inte hitta maträtter. Försök igen senare.</h2>
            }
        
        </div>
    }
    else
    {
        <strong><h1>Kunde inte ladda restaurang. Försök igen senare.</h1></strong>
    }
    
    
        
    
    
